<div class="mainlist">
    <div class="well infobox">
    <button type="button" class="btn btn-success" id="button_add_lineitem">Add</button>
    <%= form_for @order do |f| %>
      <div class="form-group lineitem">
        <input type="text" class="form-control lineitem" placeholder="Text input">
      </div>

      <div class="checkboxgroup">
        <label for="category">Categories</label>
        <% @categories.each do |category| %>
          <div class="checkbox">
            <label>
              <%= f.check_box "category_ids", {}, category.id, nil %>
              <%= category.name%>
            </label>
          </div>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone, value: @user.phone, class: "form-control" %>
      </div>
      <label for="payment">Payment</label>
      <div class="radio">
        <label>
          <%= f.radio_button :payment, 'Cash' %>
          Cash
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :payment, 'Bank' %>
          Bank
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :payment, 'Online' %>
          Online
        </label>
      </div>
      <div class="form-group">
        <%= f.label :total %>
        <%= f.text_field :total, id: "total", class: "form-control", :disabled => true  %>
      </div>
      <%= f.submit "Submit", class: "btn btn-default" %>
    <% end %>
  </div>
</div>
