<div class="mainlist">
  <div class="well infobox">
    <%= form_for @order do |f| %>
      <div class="checkboxgroup">
        <label for="category">Categories</label>
        <% @categories.each do |category| %>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="<%= category.name %>" value="<%= category.id%>">
              <%= category.name%>
            </label>
          </div>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone, value: @user.phone, class: "form-control" %>
      </div>
      <label for="payment">Payment</label>
      <div class="radio">
        <label>
          <%= f.radio_button :payment, 'Cash' %>
          Cash
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :payment, 'Bank' %>
          Bank
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :payment, 'Online' %>
          Online
        </label>
      </div>
      <%= f.submit "Submit", class: "btn btn-default" %>
    <% end %>
  </div>
</div>
