<!DOCTYPE html>
<html>
<head>
  <title>J.W Couriers - Courier Services Wrexham</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="top">
    <div id="header">
      <div class="company">
        <%= link_to "J.W Couriers", root_path %>
      </div>
    </div>
  </div>
  <div id="page">
    <div id="content">
      <div class="mainbox">
        <%= render "/shared/navbar"%>
        <%= yield %>
        <h2>Courier Services</h2>
      </div>
      <%= render "/shared/sidebar"%>
    </div>
  </div>
</body>
</html>



